[submodule "cpp"]
	path = cpp
	url = https://github.com/amirnn/algorithms-cpp.git
[submodule "java"]
	path = java
	url = https://github.com/amirnn/algorithms-java.git
[submodule "kotlin"]
	path = kotlin
	url = https://github.com/amirnn/algorithms-kotlin
[submodule "swift"]
	path = swift
	url = https://github.com/amirnn/algorithms-swift.git
